
h2{
    text-align: center;
}

body{
    /* font-size: 18px; */
}

.fix{
    clear: both;
}
.tasks{
    background-color: rgb(138, 86, 77);
    color: white;
    margin: auto;
    width: 1050px;
    padding: 50px;
    box-shadow: 1px 1px 8px black;
}

.showAll{
    padding: 20px;
    margin: 20px;
    background-color: rgb(155, 100, 77);
}

.tasks span{
    /* text-align: center; */
    display: inline-block;
    vertical-align: middle;
}

.menu p {
    background-color: rgb(138, 86, 77);
}

.menu p span{

    background-color: rgb(155, 100, 77);
    margin-left: 20px;
    padding: 25px;
}



.tasks ul li{
    background-color: rgb(150, 100, 90);
    list-style: none;
    margin-top: 2px;
}

.tasks ul li:hover{
    background-color: rgb(175, 123, 63);
}

ul li input{
    height: 15px;
    width: 15px;
    background-color: white;
    border-color: black;
    margin: 25px 20px 15px;
}


ul li span:nth-child(2){
    height: 15px;
    width: 50px;
    margin: 20px 20px;
}


ul li span:nth-child(3){
    width: 80px;
    padding: 20px 20px;
}

ul li div{
    display: inline-block;
}

ul li span:nth-child(4){
    text-align: center;
    width: 80px;
    padding: 20px 20px;
}

ul li span:nth-child(5){
    width: 150px;
    padding: 20px 20px;
}

ul li span:nth-child(6){
    margin-right: 20px;
    width: 80px;
}

ul li span:nth-child(7){
    margin: 0px 30px;
}

ul li div span{
    padding: 0 10px;
}
ul{
    padding: 0px;
    margin: 0px;
}

p{
    color: blanchedalmond;
    font-weight: bold;
    background-color: rgb(180, 122, 112);
}

ul li p{
    background-color: brown;
    padding: 20px 40px;
    margin: 0px;
}

p.Status{
    background-color: fc6603;
}

#todoHeader{
    position: sticky;
    top: 0;
   
}

ul li{
    height: 62px;
    overflow: hidden;
}

ul li:hover div{
display: inline;
    /* height: auto;
    overflow: auto; */
}

ul li:hover{
    height: auto;
    overflow: auto;
}

ul li div{
    display: none;
}

ul li div button{
    height: 30px;
    margin-left: 5px;
    border-radius: 5px;
    color: white;
    background-color: rebeccapurple;
}

.tasks > p span{
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
}

.tasks > p span:nth-child(1){
    margin-left: 60px;
  
}

.tasks > p span:nth-child(3){
    margin-left: 15px;
  
}

.tasks > p span:nth-child(4){
    margin-left: 15px;
  
}

.tasks > p span:nth-child(5){
    margin-right: 110px;
  
}