
h2{
    text-align: center;
}

.fix{
    clear: both;
}
.tasks{
    background-color: rgb(138, 86, 77);
    color: white;
    margin: 50px auto;
    width: 800px;
    padding: 50px;
    box-shadow: 1px 1px 8px black;
}

.tasks span{
    /* text-align: center; */
    display: inline-block;
    vertical-align: middle;
}

.menu p {
    background-color: rgb(138, 86, 77);
}

.menu p span{

    background-color: rgb(155, 100, 77);
    margin-left: 20px;
    padding: 25px;
}



.tasks ul li{
    background-color: rgb(150, 100, 90);
    list-style: none;
    margin-top: 2px;
}

.tasks ul li:hover{
    background-color: rgb(175, 123, 63);
}

.check{
    height: 15px;
    width: 15px;
    background-color: white;
    border-color: black;
    margin: 20px 20px;
}

ul{
    padding: 0px;
    margin: 0px;
}


p{
    color: blanchedalmond;
    font-weight: bold;
    background-color: rgb(180, 122, 112);
    margin: 25px auto 2px;
}

.Status{
    background-color: seagreen;
    height: 15px;
    width: 50px;
    margin: 20px 20px;
}

p.Status{
    background-color: fc6603;
}

.category{
    width: 80px;
    padding: 20px 20px;
}

.due-date{
    text-align: center;
    width: 80px;
    padding: 20px 20px;
}

.title{
    width: 270px;
    padding: 20px 20px;
}